//Fonts
$font-default: 'Roboto Condensed', sans-serif;

//Theme
$first: #32bdf2;
$first-hover: #1c9bcc;
$second: #f7528e;
$second-hover: #da487d;

//Colors
$black: #333333;
$white: #fcfcfc;


$red: #9d59a2;
$red-hover: #6a376e;
$light-red: rgba(204, 8, 0, 0.1);
$green: #4a9b09;
$light-green: rgba(74, 155, 9, 0.11);
$yellow: #ffe465;